header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 8px;
  margin: 15px 0;
  text-align: center;
  font-size: 2rem;
}

form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  border: none;
  background: #fff;
  color: black;
  outline-style: none;
  border-radius: 0;
}

form input {
  max-width: 300px;
  width: 30%;
}

form button {
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: rgb(26, 26, 31);
  color: #fff;
}

form button:active {
  background: rgb(54, 54, 61);
  color: #fff;
}

.select {
  margin-left: 1.5rem;
}

.filter-todo {
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.todo-list {  
  list-style: none;
  width: 35%;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem; 
  background: #fff;
  color: #000;
  padding: 0.1rem;
  cursor: pointer;
}

.todo__item {
  background: #fff;
  color: #000;
  padding: 0 0.3rem;
  overflow: hidden;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo__trash-btn {
  padding: 0.4rem;
  border: none;
  background: #fff;
  color: rgb(255, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0;
  outline: none;
}

.todo__trash-btn:hover {
  background: rgb(209, 25, 25);
  color: #fff;
}

.todo__trash-btn:active {
  background: rgb(226, 77, 77);
  color: #fff;
}